In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('data.csv')
df.head()

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295,828,Onesize,wallets/lino-perros/lino-perros-women-peach-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,lino-perros,467,36
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299,584,"UK6,UK7,UK8,UK9,UK10,UK11",flip-flops/mast--harbour/mast--harbour-men-nav...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops,mast--harbour,715,55
2,Printed A-line Kurta,Biba,4.3,66,1999,1599,"S,M,L,XL,XXL,3XL",kurtas/biba/biba-women-off-white--black-printe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,biba,400,20
3,Girls Floral Printed T-shirt,Anthrilo,0.0,0,599,539,"7-8Y,8-9Y,9-10Y",tshirts/anthrilo/anthrilo-girls-white-floral-p...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,anthrilo,60,10
4,Women Printed Kurta with Skirt,FASHION DWAR,0.0,0,2899,2899,"S,M,L,XL",kurta-sets/fashion-dwar/fashion-dwar-women-mul...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurta-sets,fashion-dwar,0,0

### 1. How many unique products are there in the dataset? (5 marks)
You need to find product ID of each product from product_link and then find the number of unique product ids

- Finding Unique Products as per their Product ID
- Removing Products with Duplicate Product ID

In [4]:
df['product_id'] = df['product_link'].str.split('/').str[-2]

In [5]:
df['product_id']

0         18070682
1         12548958
2         13446092
3         18017006
4         18015232
            ...
168024    18245896
168025    18713222
168026    18713224
168027    18054182
168028    18511552
Name: product_id, Length: 168029, dtype: object

In [6]:
num_unique_products = df['product_id'].nunique()

In [7]:
num_unique_products

146435

### 2. What is the average rating of the products? (2 mark)
- Try it without the product that are having rating 0
- Try it without the product that are having 0 people given any rating

In [8]:
df_filtered = df[df['rating'] > 0]
df_filtered = df_filtered[df_filtered['rating_count'] > 0]

In [9]:
avg_rating = df_filtered['rating'].mean()

In [10]:
avg_rating

4.16546541286693

### 3. What is the average discount percentage of the products? (1 mark)

In [11]:
avg_discount_percent = df['discount_percent'].mean()

In [12]:
avg_discount_percent

37.25190889667855

### 4. What are the top 5 most expensive products? (2 marks)
- Make sure that there can be multiple brands with same name so you can take brand ID also into considration

In [23]:
top5_expensive = df.sort_values('marked_price', ascending=False).head(5)

In [24]:
top5_expensive

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent,product_id
27039,Lord Krishna Showpiece,eCraftIndia,0.0,0,113999,45599,Onesize,showpieces/ecraftindia/ecraftindia-gold-toned-...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",showpieces,ecraftindia,68400,60,15890266
56197,Durga Maa On Lion Showpiece,eCraftIndia,0.0,0,71999,28799,Onesize,showpieces/ecraftindia/ecraftindia-gold-toned-...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",showpieces,ecraftindia,43200,60,17649064
117817,Men Stainless Steel Straps Multi Function Auto...,EARNSHAW,0.0,0,63950,38370,Onesize,watches/earnshaw/earnshaw-men-rose-gold-toned-...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",watches,earnshaw,25580,40,18249258
117809,Men Stainless Steel Straps Multi Function Auto...,EARNSHAW,0.0,0,63950,38370,Onesize,watches/earnshaw/earnshaw-men-rose-gold-toned-...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",watches,earnshaw,25580,40,18249258
116473,Men Stainless Steel Straps Multi Function Auto...,EARNSHAW,0.0,0,63950,38370,Onesize,watches/earnshaw/earnshaw-men-black-dial--silv...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",watches,earnshaw,25580,40,18249252

### 5. What are the top 10 brands by the number of products in the dataset? (2 mark)

In [25]:
top_brands = df['brand_name'].value_counts()

In [27]:
top_brands.head(10)

Roadster                 4982
Mast & Harbour           2640
DressBerry               2330
H&M                      2188
max                      2045
Anouk                    1962
HRX by Hrithik Roshan    1922
HERE&NOW                 1816
Puma                     1805
MANGO                    1741
Name: brand_name, dtype: int64

### 6. List top 5 brands with maxiumum average rating of products? (2 marks)
Neglect the products which are not reviewed by any person

In [28]:
rated_products = df[df['rating_count'] > 0]

In [29]:
brand_ratings = rated_products.groupby('brand_name')['rating'].mean()

In [30]:
top_brands = brand_ratings.sort_values(ascending=False).head(5)

In [31]:
top_brands

brand_name
1 Stop Fashion              5.0
Luxure by Louis Philippe    5.0
Tiara                       5.0
Anahi                       5.0
SHIRT THEORY                5.0
Name: rating, dtype: float64

### 7. Plot a histogram of the distribution of ratings of following brand. (3 marks)
- H&M
- max
- Puma
- MANGO

Neglect the products which are not reviewed by any person

### 8. What is the distribution of discounts by brand for specific brands mentioned below? (2 marks)

- H&M
- max
- Puma
- MANGO

Neglect the products which are not reviewed by any person.
Neglect the products which are not on any discount.

### 9. Is there any trend or pattern you can find between discount percent and rating of the product? (3 marks)

### 10. What are the top 10 most popular tags in the dataset? (2 marks)

In [32]:
top_tags = df['product_tag'].value_counts()

In [34]:
top_tags.head(10)

tshirts         16978
shirts          12044
dresses         11836
tops             9049
kurta-sets       8170
kurtas           8043
jeans            7669
trousers         5756
casual-shoes     5230
handbags         4944
Name: product_tag, dtype: int64

### 11. Are there any relations between the rating and number of people who rated the products? (4 marks)
- Neglect the products that are not reviewed by any person
- Neglect the products that are having zero rating

### 12. What are the top 10 Most Expensive brands? (3 marks)
- Use marked price as the reference to find the most expensive brand

In [35]:
avg_price_by_brand = df.groupby('brand_name')['marked_price'].mean()

In [36]:
avg_price_by_brand

brand_name
1 Stop Fashion    5339.000000
1st Step          2999.000000
20Dresses         1757.377210
39 THREADS         969.666667
3PIN               599.000000
                     ...
x2o               2659.000000
yelloe            2138.275862
yoho               727.571429
zebu              1410.235294
zink Z            1533.615385
Name: marked_price, Length: 3194, dtype: float64

In [37]:
top10_expensive_brands = avg_price_by_brand.sort_values(ascending=False)

In [39]:
top10_expensive_brands.head(10)

brand_name
EARNSHAW                 47603.846154
Victorinox               44000.000000
MOSCHINO COUTURE         40000.000000
dyson                    39233.333333
Tom Ford                 38800.000000
Valuchi                  38050.000000
Bottega Veneta           34490.000000
Versace Jeans Couture    33125.000000
TISSOT                   31928.571429
DUCATI CORSE             31665.666667
Name: marked_price, dtype: float64

### 13. What are the top 10 Most Expensive Product Category? (4 marks)
- Use marked price as the reference to find the most expensive brand

In [46]:
top10_expensive_categories = df.groupby('product_tag')['marked_price'].mean()

In [47]:
top10_expensive_categories.sort_values(ascending=False).head(10)

product_tag
trolley-bag           13329.343333
suits                 11926.784566
fitness-bands         11713.285714
watch-gift-set        10951.516129
badminton-racquets    10850.000000
sherwani              10004.250000
floor-lamps            8979.891892
smart-watches          8946.029661
air-fryer              8850.000000
carpets                8693.397727
Name: marked_price, dtype: float64

### 14. Analyse the Violen Plot of watches of following brands mentioned below ? (5 marks)

 - Take Marked Price for Reference
 - Take product_tag as watches
 - Take brand_tag as tommy-hilfiger, daniel-wellington, armani-exchange, emporio-armani, earnshaw, tissot
 - Make sure to write your inference based on the violen plot of following watch brands price

### 15. List top 5 brands which are having most wide range or products
- Use marked price as the reference

In [52]:
brand_counts = df.groupby('brand_name')['product_id'].nunique()

In [57]:
top5_brand_with_wide_range = brand_counts.sort_values(ascending=False).head(5)

In [58]:
top5_brand_with_wide_range

brand_name
Roadster          4557
Mast & Harbour    2397
DressBerry        2073
H&M               1998
Anouk             1784
Name: product_id, dtype: int64